header .contacts {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  display: none;
  @include viewport('tablet') {
    opacity: 1;
    pointer-events: auto;
    top: 15px;
    right: 21px;
    display: flex;
    flex-direction: column;
  }
  @include viewport('desktop') {
    flex-direction: row;
    top: 36px;
  }
}
.header-mail-tel {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  &:hover,
  &:focus {
    color: $accent;
  }
}
header .tel {
  @include viewport('desktop') {
    margin-left: 30px;
  }
  .icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
header .mail {
  margin-bottom: 10px;
  .icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
