.nav-bar {
  position: relative;
  width: 100%;
  .menu-button {
    position: absolute;
    margin-left: auto;
    right: 23px;
    top: 22px;
    background-color: transparent;
    border: none;
    :hover,
    :focus {
      fill: $accent;
      cursor: pointer;
    }
    .icon-close {
      display: none;
    }
    &.is-open .icon-close {
      display: block;
    }
    &.is-open .icon-burger {
      display: none;
    }
    @media (min-width: 769px) {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }
  }
  @media screen and (max-width: $tablet) {
    padding: 16px 0;
  }
  @include viewport('tablet') {
    display: flex;
    align-items: center;
  }
}
.site-nav {
  left: -100%;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  margin-left: 85px;
  display: flex;
  @include viewport('tablet') {
    position: static;
    opacity: 1;
    pointer-events: auto;
  }
  .current:after {
    bottom: 0;
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $accent;
  }
}
.site-nav > li {
  margin-left: 50px;
  &:first-child {
    margin-left: 0;
  }
}
.site-nav a {
  margin: auto;
  padding: 32px 0;
  display: block;
  position: relative;
  color: $primary-title-text;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  &:hover,
  &:focus {
    color: $accent;
  }
}
