footer {
  background-color: #2f303a;
}
.footer {
  padding: 60px 0;
  @include viewport('tablet') {
    display: flex;
  }

  .logo {
    display: block;
    margin-bottom: 20px;
    color: $secondary;
  }
}
