.portfolio {
  h1 {
    display: none;
  }
  &-filter {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 25px;
    @include viewport('tablet') {
      margin-bottom: 30px;
      justify-content: center;
      flex-wrap: nowrap;
    }
    @include viewport('desktop') {
      margin-bottom: 50px;
    }
  }
  &-filter li:not(:last-child) {
    margin-right: 8px;
  }
  &-filter-button {
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    background-color: $grey;
    color: $primary-title-text;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    &:hover,
    &:focus {
      color: $secondary;
      background-color: $accent;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }
    @media screen and (max-width: $tablet) {
      margin-bottom: 15px;
    }
  }
}
