.works {
  @include viewport('tablet') {
    display: flex;
    flex-wrap: wrap;
  }
  .item {
    position: relative;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    &-title {
      position: relative;
      padding: 20px 24px;
      border: 1px solid #eeeeee;
      background-color: $secondary;
      border-top: none;
      z-index: 1;
    }
    &-description-scene {
      max-height: 390px;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }
    &-description {
      padding: 63px 24px;
      background-color: rgba(33, 150, 243, 0.9);
      transform: translateY(100%);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;
    }
    &-description p {
      font-size: 18px;
      line-height: 28px;
      color: $secondary;
    }
    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover .item-description,
    &:focus .item-description {
      transform: translateY(0);
      opacity: 1;
    }
    @media screen and (max-width: $tablet) {
      &:not(:first-child) {
        margin-top: 30px;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      width: calc((100% - 30px) / 2);
      &:not(:nth-child(-n + 2)) {
        margin-top: 30px;
      }
      &:not(:nth-child(2n)) {
        margin-right: 30px;
      }
    }
    @include viewport('desktop') {
      width: calc((100% - 30px * 2) / 3);
      &:not(:nth-child(3n)) {
        margin-right: 30px;
      }
      &:not(:nth-child(-n + 3)) {
        margin-top: 30px;
      }
    }
  }
  h2 {
    margin: 0 0 4px;

    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  .project-type {
    font-size: 16px;
    line-height: 1.9;
  }
}
