html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: 1px solid;
  outline-color: $accent;
}
body {
  color: $primary-text;
  background-color: #ffffff;
  font-family: roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-title-text;
  margin: 0;
}
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
input[type='text'],
input[type='tel'],
input[type='email'],
textarea {
  display: block;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  resize: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $secondary;
}
img {
  display: block;
  width: 100%;
}
section {
  padding: 60px 0;
  @include viewport('desktop') {
    padding: 94px 0;
  }
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
