.team {
  background-color: $grey;
  h2 {
    font-size: 28px;
    @include viewport('desktop') {
      font-size: 36px;
    }
    margin-bottom: 50px;
  }
  .items {
    @include viewport('tablet') {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    @include viewport('desktop') {
      flex-wrap: nowrap;
    }
  }
  .teammate-card {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    padding-bottom: 24px;
    background-color: $secondary;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    & + .teammate-card {
      @media screen and (max-width: $tablet - 1) {
        margin-top: 30px;
      }
    }
    @include viewport('tablet') {
      width: calc((100% - 30px) / 2);
      &:nth-child(2n) {
        margin-left: 30px;
      }
      @media screen and (max-width: $desktop - 1px) and (min-width: $tablet - 1) {
        &:nth-child(-n + 2) {
          margin-bottom: 30px;
        }
      }
    }
    @include viewport('desktop') {
      & + .teammate-card {
        margin-left: 30px;
      }
    }
  }
  h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }
  p {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.2;
    text-align: center;
  }
}
.social-networks {
  display: flex;
  justify-content: center;
  .item:not(:first-child) {
    margin-left: 10px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 44px;
    min-height: 44px;
    border-radius: 50%;
    fill: currentColor;
    &:hover,
    &:focus {
      background-color: $accent;
      color: $secondary;
      fill: $secondary;
    }
  }
}
